<div class="group-wrapper text-cente">
  <div class="container group-container">
    <div class="row">

        <div class="group-top col-md-10">
          <h2>  コミュニティを作って、いっぱい繋がろう！</h2>

        </div>
      <div class="group-top col-md-2">
        <%= link_to new_group_path do %>
        <button class="btn btn-warning " >
          新規コミュニティ作成
        </button>
        <% end %>

      </div>

      <div class="col-md-5">
      <h3>最新のグループ一覧</h3>
      <div class="group-conte">
        <% @groups.each do |group| %>
        <p>
          <%= image_tag group.image.url %>
          <%= link_to group_path(group.id) do %>
          <%= group.name %>
          <% end %>
          
        </p>

        <% end %>

      </div>
      </div>
    </div>
  </div>
</div>
