<div class="topic-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          <%= @group.name %>
        </p>
       <!--紹介文がある場合-->
        <% if @group.description.present? %>
        <p>
          <%= @group.description %>
        </p>
        <% end %>

        

        </div>


      </div>
    </div>
  </div>
</div>
