// 全体
h1, h2 {
  font-weight: 100;
}

// ページやデバイスのbody
.top-hero-wrapper {
  width: 100vw;
  height: 120vh;
  background-color: #fff;

}

.top-hero-container {
  padding-top: 150px;

  h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }
}

// ナビゲーション

.navbar{
  margin-bottom: 0px;
  border-bottom: 0px;
  font-size: 16px;
}

.navbar-brand {
  padding: 0px;
  margin-top: 0px;
  font-size: 25px;
}


// Topicのページ

.user-image{
  img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 30px;

  }

}
.topic-index-wrapper {
  padding-top: 50px;
  background-color: #fff;

  .topic-index-single {
    background-color: #dcdcdc;
    padding-top: 20px;

    // padding-left: 50px;
    margin-top:20px;
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;

    .topic-author {
      padding-right: 20px;
      padding-left: 0px;
      height: 65px;
      margin: 0px;
      font-size: 30px;
      font-weight: 200;
      a{

        text-decoration-line: none;
        color: #000;
      }
      a:hover{
        color: #fff;
      }
      p{
        display:  inline-block;
      }
      .time-text{
        font-size: 20px;
        float: right;
      }
    }

    .topic-conte{
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 70px;

    }

    .topic-text {
      padding-right: 20px;
      padding-left: 5px;
      font-size: 20px;
      white-space: pre-wrap;
    }
    .topic-image{

      img {
        border: 1px solid rgba(0,0,0,0.1);
        margin-right: 5px;
        border-radius: 10px;
        width: 100%;
      }
    }
  }

}
.icon-list{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  div{
    display:  inline-block;
  }
  a{
    text-decoration-line: none;
    color: #000;
  }
  a:hover{
    color: #fff;
  }
}
.comment-index-single{
  background-color: #dcdcdc;


  padding-left: 50px;
  margin-top:20px;
  margin-bottom: 10px;

  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
// サイドプロフィール
.user-pro-image{
  img{
    width: 150px;
    height: 150px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 30px;
  }
}

.profile-other{
  p{
  font-size: 15px;
  margin: 10px 20px;
  }
}

.pro-top{
  font-size: 25px;

}
.pro-pro{
font-size: 15px;
padding: 10px 20px;
  border-top: 2px solid rgba(0,0,0,0.1);

}

.pro-index-single{

  background-color:#dcdcdc;
  padding-top: 20px;
  margin-top:20px;
  margin-bottom: 10px;
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
// プロフィル画面

.pro-index-single2{
  background-color:#dcdcdc;
  padding-top: 20px;
  margin-top:20px;
  margin-bottom: 10px;
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 5px;

  .pro-text{
    margin-top: 5px;
    padding-top:15px;
    font-size:18px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .profile-other{
    margin-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    p{
    font-size: 18px;
    margin-left: 0px;
    display:  inline-block;
    }
  }


  .user-pro-image2{
    img{
      width: 250px;
      border: 3px solid rgba(0,0,0,0.3);
      border-radius: 30px;

    }
  }

  .pro-top2{
    font-size: 40px;

  }


}
// アラート
.alert{
  margin-top: 50px;
  margin-bottom: 0px;
}

// フォロー
.stats{
  font-size: 18px;
  margin-bottom: 0px;
  a{
    margin: 0 8px;
    text-decoration-line: none;
    color: #006a6c;
  }
  a:hover{
    color: #fff;
  }

}
// グループ関係

.group-wrapper{
  height: 100%;
  width: 100vw;
    background-color: #f5deb3;
  .group-container{
    padding-top: 50px;

  }
  h2{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 2px #808080;
    color: #fafafa;
  }
  h3{
    font-size: 25px;
    font-weight: 400;
    text-shadow: 2px 2px 2px #808080;

  }
 .btn-warning{
   font-size: 20px;
   margin-top: 10px;
 }
}
.group-top{
  margin-top: 10px;
}
.group-conte{
  background-color: #adffd6;

  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;

  img{
    width: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 30px;

  }
  p{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #dcdcdc;
  }
  a{
    text-decoration-line: none;
    font-size: 18px;
    color: #006a6c;
    padding-left: 10px;

  }
  a:hover{
    color: #000;
  }

}
// グループ詳細画面
.group-show-conte{
  margin-top: 20px;
  font-size: 18px;


  p{
    box-shadow:0px 0.5px 2px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;

  }
  img{
    width: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 30px;
  }

}

.group-show-user{
  margin-bottom: 50px;
}

.group-user{
  display: inline-block;
  width: 83px;
  p{
    text-align: center;
    margin-bottom: 3px;
  }
  img{
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 30px;

  }
}


.topic-text{
  font-size: 18px;
}
.topic-description{
  p{
    box-shadow:0px 0.5px 2px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
  }
}
// グループ投稿
.group-topic{
  margin: 15px;
  box-shadow:0px 1px 3px;
  padding: 10px;
  border: 1px solid #fff;

  .group-topic-image{
    margin: 0px;
    padding: 0;
    position: relative;
    background-color: #000;

    img{
      width: 100%;
    }

    p{
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      color: white;
      background: rgba(0, 0, 0, 0.7);
      font-size: 20px;
      padding: 10px;
      margin-bottom: 0px;
      margin-left: 0px;

    }
  }
}
