h1, h2 {
  font-weight: 100;
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;

}

.top-hero-container {
  padding-top: 150px;
  h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
.navbar{
  margin-bottom: 0px;
  border-bottom: 0px;
  font-size: 16px;

}
.navbar-brand {
  padding: 0px;
  margin-top: 0px;
  font-size: 25px;

}


.user-new-container{
  margin-top: 100px;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  // background-size: cover;
  background-color: #fff;


}
